/*fonts*/
@font-face {
  font-family: "Gilroy";
  src: local("Gilroy"), local("Gilroy-Bold"),
    url("../fonts/gilroyextrabold.woff2") format("woff2"),
    url("../fonts/gilroyextrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy"), local("Gilroy-UltraLight"),
    url("../fonts/gilroylight.woff2") format("woff2"),
    url("../fonts/gilroylight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"),
    url("../fonts/opensans.woff2") format("woff2"),
    url("../fonts/opensans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"), local("Open Sans Light"),
    url("../fonts/opensanslight.woff2") format("woff2"),
    url("../fonts/opensanslight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

/* variables*/
:root {
  --basic-white: #fff;
  --transparent-white-03: rgba(255, 255, 255, 0.3);
  --transparent-white-07: rgba(255, 255, 255, 0.7);
  --basic-black: #000;
  --transparent-black-01: rgba(0, 0, 0, 0.1);
  --transparent-black-02: rgba(0, 0, 0, 0.2);
  --transparent-black-03: rgba(0, 0, 0, 0.3);
  --transparent-black-06: rgba(0, 0, 0, 0.6);
  --transparent-black-08: rgba(0, 0, 0, 0.8);
  --basic-dark: #363636;
  --basic-grey: #464646;
  --basic-gray-2: #7E7E7E;
  --basic-grey-light: #E5E5E5;
  --basic-grey-extra: #DCDCDC;
  --basic-grey-extra-2: #C4C4C4;
  --basic-grey-product-navbar: #EBEBEB;
  --basic-grey-product-navbutton: #D9D9D9;
  --special-yellow: #f7e296;
  --special-yellow-dark: #F0C52E;
  --special-green: #91C92F;
  --popup-form-field: #F2F2F2;
  --popup-form-field-error: #F6DADA;

  --open-sans-font: "Open Sans", Arial, sans-serif;
  --gilroy-font: "Gilroy", Helvetica, sans-serif;
}

/* * {
  outline: 2px dashed teal;
  outline-offset: -2px;
}*/

* *,
::before,
::after {
  box-sizing: inherit;
}

/*ОБЩЕЕ*/
.page {
  height: 100%;
}

.page-body {
  margin: 0;
  padding: 0;
  min-width: 1200px;
  min-height: 100%;
  font-family: var(--open-sans-font);
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  font-style: normal;
  color: var(--basic-black);
  background-color: var(--basic-white);
  box-sizing: border-box;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a {
  text-decoration: none;
  color: var(--basic-black);
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.text-header {
  font-family: var(--gilroy-font);
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
}

.hidden {
  display: none
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.open-sans-small-text {
  font-size: 14px;
  line-height: 19px;
}

/*КНОПКИ*/
.button {
  display: block;
  color: var(--basic-black);
  font-family: var(--gilroy-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  padding-top: 9px;
  padding-bottom: 9px;
  text-align: center;
  background: url("../img/button-rectangle.svg") 50% 50% repeat-x;
  letter-spacing: 0.2em;
  border: 0;
  cursor: pointer;
  z-index: 1;
}

.button:hover {
  background-color: var(--special-yellow-dark);
}

.button:active {
  color: var(--transparent-black-03)
}

/*ШАПКА*/
.header-main-navigation {
  background-color: var(--special-yellow);
  padding: 30px 60px 52px 60px;
}

.main-header-logo {
  display: inline;
  position: relative;
  top: 20px;
  left: 60px;
}

/*ШАПКА - раздел пользователя*/
.main-header-user-interface {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 27px;
}

.main-header a:hover {
  opacity: 0.6;
}

.main-header a:active {
  opacity: 0.3;
}

/*ШАПКА - поисковая строка*/
.searchbar {
  flex-basis: 540px;
}

.searchbar-form-field {
  background-color: transparent;
  outline: none;
  width: 317px;
  min-height: 50px;
  padding-right: 15px;
  border: 0;
  border-bottom: 2px solid transparent;
}

.searchbar-form-label {
  display: inline-block;
  vertical-align: middle;
  width: 25px;
  height: 16px;
  background-image: url("../img/header-searchbar-icon.svg");
  background-repeat: no-repeat;
  background-position: 3px 1px;
}

.searchbar-form-field::placeholder {
  opacity: 0.3;
}

.searchbar-form-field:hover::placeholder {
  opacity: 0.6;
}

.searchbar-form-field:focus::placeholder {
  color: transparent;
}

.searchbar-button {
  font-weight: inherit;
  line-height: inherit;
  text-transform: uppercase;
}

.searchbar-button:not(:focus):not(:active) {
  border: 2px solid var(--basic-black);
  box-sizing: border-box;
  background-color: transparent;
  position: absolute;
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden
}

.searchbar-form-field:focus~.searchbar-button {
  background-color: transparent
}

.searchbar-button:focus,
.searchbar-form-field:focus~.searchbar-button {
  position: relative;
  display: inline-block;
  vertical-align: top;
  min-height: 50px;
  width: 85px;
  text-align: center;
  border: 2px solid var(--basic-black);
  clip: auto;
  overflow: visible;
  outline: 0;
  cursor: pointer
}

.searchbar-button:focus,
.searchbar-form-field:focus~.searchbar-button:hover {
  background-color: var(--basic-black);
  color: var(--basic-white);
}

.searchbar-button:active {
  color: var(--transparent-black-03)
}

.searchbar-button:active::before,
.searchbar-button:focus::before,
.searchbar-form-field:focus~.searchbar-button::before {
  content: "";
  position: absolute;
  left: -352px;
  bottom: -2px;
  display: block;
  width: 355px;
  height: 2px;
  background-color: var(--basic-black);
}

.searchbar-button:hover {
  color: var(--basic-white);
  background-color: var(--basic-black);
}

.searchbar-button:active {
  color: var(--transparent-white-03);
  background-color: var(--basic-black);
}

/*ШАПКА - раздел пользователя*/

.user-navigation-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 35px;
}

.user-navigation-item {
  width: 107px;
  padding: 15px 0 15px 22px;

}

.user-navigation-link {
  word-wrap: break-word;
  position: relative;
}


.user-navigation-list li:nth-child(2) {
  width: 280px;
}

.user-navigation-item:first-child {
  margin-right: auto;
}

.user-navigation-item:last-child {
  text-align: right;
}

.user-navigation-list .logout-link {
  opacity: 0.3;
  padding-left: 18px;
}

.user-navigation-link::before {
  position: absolute;
  content: "";
  top: 4px;
  left: -25px;
  width: 14px;
  height: 14px;
  background-image: url("../img/header-user-login-icon.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  opacity: 1;
}

.user-navigation-link.logout-link::before {
  background-image: none;
}

.user-navigation-link.compare::before {
  background-image: url("../img/header-compare-icon.svg");
}

.user-navigation-link.cart::before {
  background-image: url("../img/header-cart-icon.svg");
}

/*ШАПКА - навигация по сайту*/
.header-navigation-menu-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: var(--gilroy-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.header-catalog-menu {
  flex-basis: 540px;
  position: relative;
}

.header-navigation-menu-list a {
  display: inline-block;
}

.header-catalog-link {
  position: relative;
}

.header-catalog-link::after {
  content: url("../img/header-catalog-menu-plus-icon.svg");
  padding-left: 14px;
  position: absolute;
}


.header-subcatalog {
  position: absolute;
  top: 22px;
  left: -60px;
  z-index: 2;
  display: none;
  width: 1160px;
  padding: 22px 60px 33px 60px;
  background-color: var(--special-yellow)
}

.header-subcatalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 540px;
  font-weight: 300;
  font-size: 15px;
  line-height: 36px;
  font-family: var(--open-sans-font);
  text-transform: none;
  letter-spacing: normal;
}

.header-subcatalog-list li {
  display: flex;
  flex-direction: column;
  padding-right: 64px;
}

.header-subcatalog-list li:last-child {
  padding: 0;
}

.header-catalog-link:hover+.header-subcatalog,
.header-subcatalog:hover {
  display: block;
}

.header-delivery {
  width: 158px;
}

.header-guarantee {
  width: 162px;
}

.header-contacts {
  width: 180px;
  text-align: right;
}

/*ГЛАВНАЯ - слайдер*/

.slider {
  margin-bottom: 101px;
  position: relative;
}

.slider-selectors {
  position: absolute;
  bottom: 150px;
  right: 88px;
  z-index: 1;
  cursor: pointer;
}

.slider-item {
  display: none;
  grid-template-columns: 1fr 1fr;
  gap: 39px;
  height: 486px;
}

.slider-item::before {
  content: "";
  z-index: -5;
  position: absolute;
  display: block;
  width: 1160px;
  height: 111px;
  background-color: var(--special-yellow);
}

.slider-show {
  display: grid;
}

.slider-item-image {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.slider-item-image img {
  position: absolute;
  top: -17px;
}

.third-slide img {
  top: 64px;
  right: 4px;
}

.slider-item-info {
  position: relative;
}

.slider-item-info::before {
  content: "";
  position: absolute;
  display: block;
  width: 100px;
  height: 7px;
  top: 16px;
  background-color: var(--basic-white);
  z-index: -1;
}

.slider-gadget-number {
  position: absolute;
  font-family: var(--gilroy-font);
  font-weight: 800;
  font-size: 179px;
  line-height: 170px;
  color: var(--basic-white);
  z-index: -1;
  left: 331px;
  top: -10px;
}


.slider-item-info .text-header {
  padding-top: 75px;
  padding-bottom: 26px;
}

.slider-gadget-description {
  padding-bottom: 50px;
}


.slider-button {
  width: 220px;
}

.gadget-info {
  font-family: var(--gilroy-font);
  font-weight: 300;
  text-align: left;
  max-height: 72px;
  margin-top: 49px;
  border-collapse: collapse;
}

.gadget-info td {
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.1em;
  padding-right: 59px;
  padding-bottom: 14px;
}

.gadget-info th {
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  font-weight: inherit;
}

/*ГЛАВНАЯ - навигация по разделам с продуктами*/
.gadget-list {
  display: grid;
  grid-template-columns: repeat(6, 160px);
  gap: 40px;
  margin-bottom: 85px;
}

.gadget-menu a {
  display: grid;
  grid-template-rows: auto min-content;
  gap: 38px;
}

.gadget-menu-label {
  font-family: var(--gilroy-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
}


.gadget-menu-icon {
  width: 160px;
  height: 160px;
  background-color: var(--special-yellow);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.gadget-menu-icon img {
  margin: auto;
}

.gadget-menu:hover .gadget-menu-icon {
  background-color: var(--special-yellow-dark);
}

.gadget-menu:active .gadget-menu-label,
.gadget-menu:active img {
  opacity: 0.3;
}


/*ГЛАВНАЯ - доставка, гарантии, кредит*/
.services {
  background-image: linear-gradient(#fff 100px, #e5e5e5 100px);
  padding-bottom: 68px;
  margin-bottom: 90px;
}

.services-wrapper {
  display: grid;
  grid-template-columns: 284px 1fr;
  gap: 116px;
  align-items: center;
}

.services-buttons {
  border-right: 7px solid var(--basic-black);
  padding: 80px 0 78px 0;
}

.delivery-button,
.guarantee-button,
.credit-button {
  display: block;
  width: 160px;
}

.services-buttons li:not(:last-child) {
  margin-bottom: 21px;
}

.button-black {
  position: relative;
  background-image: none;
  color: var(--special-yellow-dark);

}

.button-black::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 277px;
  height: 100%;
  background-color: var(--basic-black);
  z-index: -1;
}

.button.button-black:hover {
  background-color: var(--basic-black);
}

.button.button-black:active {
  color: var(--special-yellow-dark);
}

.services-info {
  line-height: 30px;
  display: block;
}

.services-info .text-header {
  letter-spacing: 0.2em;
  margin-top: 10px;
  margin-bottom: 40px;
}

.delivery-info,
.guarantee-info,
.credit-info {
  display: none;
}

.services-info-show {
  display: block;
}

.services-description {
  max-width: 580px;
  letter-spacing: 0.1em;
}

.service-info {
  position: relative;
}

.delivery-info::before {
  content: url("../img/delivery-guy-icon.svg");
  position: absolute;
  right: 2px;
  top: 0;

}

.guarantee-info::before {
  content: url("../img/guarantee-icon.svg");
  position: absolute;
  right: -15px;
  top: -18px;
}

.credit-info::before {
  content: url("../img/credit-guy-icon.svg");
  position: absolute;
  right: 8px;
  top: -24px;
}

/*ГЛАВНАЯ - логотипы спонсоров*/
.gadget-brands {
  display: grid;
  grid-template-columns: repeat(4, 260px);
  gap: 40px;
  margin-bottom: 143px;
}

.brand-logo a {
  filter: grayscale(100%);
  opacity: 0.2;
}

.brand-logo a:hover {
  filter: none;
  opacity: 1;
}

/*ГЛАВНАЯ - раздел "о нас"*/
.about-us {
  line-height: 28px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  margin-bottom: 77px;
}

.about-us-info,
.contacts {
  display: grid;
  grid-template-rows: min-content auto min-content;
  position: relative;
}

.about-us-info::before,
.contacts::before {
  content: "";
  position: absolute;
  top: -57px;
  left: 0;
  width: 80px;
  height: 7px;
  background-color: var(--basic-black);
}

.about-us .text-header {
  margin-bottom: 41px;
  letter-spacing: 0.2em;
}

.layout-about-us p:first-child {
  margin-bottom: 40px;
}

.delivery-options {
  font-family: var(--gilroy-font);
  font-weight: 800;
  font-size: 16px;
  padding-top: 59px;
  padding-bottom: 68px;
}

.delivery-options li:not(:first-child) {
  margin-top: 15px;
}

.delivery-options li::before {
  content: url("../img/bulletpoint.svg");
  padding-right: 24px;
}

.small-map {
  cursor: pointer;
}

.about-us-button {
  width: 260px;
}

/*ФУТЕР*/
.main-footer {
  background-color: var(--basic-dark);
  color: var(--basic-white);
  padding-top: 46px;
  padding-bottom: 58px;
}

.layout-main-footer {
  display: grid;
  grid-template-rows: min-content min-content min-content;
}

.layout-main-footer-top-row {
  display: grid;
  grid-template-columns: auto 1fr;
  margin-bottom: 36px;
}

.main-footer-logo {
  margin-top: 18px;
}

.main-footer-logo:hover {
  opacity: 0.6;
}

.main-footer-logo:active {
  opacity: 0.3;
}

.footer-user-navigation-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.footer-user-navigation-item {
  text-align: right;
}

.footer-user-navigation-item:first-child {
  width: 300px;
}

.footer-user-navigation-link {
  color: var(--transparent-white-07);
  padding-left: 65px;
  position: relative;
  word-wrap: break-word;
}

.footer-user-navigation-link::before {
  position: absolute;
  content: "";
  top: 5px;
  left: 37px;
  width: 14px;
  height: 14px;
  background-image: url("../img/footer-user-icon.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.footer-user-navigation-link.logout-link {
  padding-left: 18px;
}

.footer-user-navigation-link.logout-link::before {
  background-image: none;
}

.footer-user-navigation-link.compare::before {
  background-image: url("../img/footer-compare-icon.svg");
}

.footer-user-navigation-link.cart::before {
  background-image: url("../img/footer-cart-icon.svg");

}

.footer-user-navigation-link:hover {
  color: var(--basic-white);
}

.footer-user-navigation-link:active {
  color: var(--transparent-white-03)
}

.layout-main-footer-contacts {
  display: grid;
  grid-template-columns: 212px 1fr 212px;
  margin-bottom: 62px;
}

.layout-main-footer-contacts address {
  font-family: var(--open-sans-font);
  font-style: normal;
}

.bottom-footer-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 5px;
}

.bottom-footer-list li {
  font-family: var(--gilroy-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  display: block;
  margin-right: 33px;
}

.bottom-footer-list li:last-child {
  margin: 0;
}

.bottom-footer-list a {
  color: var(--basic-white);
}

.bottom-footer-list a:hover {
  color: var(--transparent-white-07);
}

.bottom-footer-list a:active {
  color: var(--transparent-white-03);
}

.footer-contacts-phone {
  text-align: right;
}

.footer-contacts-phone a {
  color: var(--basic-white);
}

.footer-socials {
  display: grid;
  grid-template-columns: 27px 1fr 27px;
  position: relative;

}

.footer-socials ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}

.layout-footer-socials-emptybox::before {
  position: absolute;
  content: "";
  display: block;
  width: 80px;
  height: 7px;
  top: 12px;
  background-color: var(--special-yellow-dark);
}

.footer-socials li {
  display: inline-block;
  margin-right: 20px;
}

.footer-socials li:last-child {
  margin: 0;
}

.footer-socials-button:hover path {
  fill-opacity: 0.6;
}

.footer-socials-button:active path {
  fill-opacity: 0.1;
}

.footer-copyright-logo {
  justify-content: flex-end;
}

.footer-copyright-logo:hover {
  opacity: 0.6;
}

.footer-copyright-logo:active {
  opacity: 0.3;
}

/*ГЛАВНАЯ всплывающие окна*/

.modal {
  box-shadow: 0 10px 20px var(--transparent-black-02);
}

.modal-button:active {
  color: var(--transparent-black-03);
}

.modal-close-button {
  border: 0;
  background: transparent;
  padding: 0;
  position: absolute;
  top: 20px;
  right: 20px;
}

.modal-close-button:hover circle {
  opacity: 1;
}

.modal-close-button:active circle {
  opacity: 0.3;
}


/*КАРТА*/
.modal-map {
  display: none;
}

.large-map-wrapper {
  position: relative;
  margin: 0 auto;
  width: 960px;
  height: 558px;
}

/*ФОРМА ОБРАТНОЙ СВЯЗИ*/
.modal-feedback {
  display: none;
  font-family: var(--gilroy-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
}

.feedback-wrapper {
  width: 960px;
  height: 550px;
  position: relative;
  background-color: var(--basic-white);
  padding: 92px 100px 40px 100px;
}

.feedback-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
}

.label-item,
.feedback-form-item{
  display: block;
  width: 100%;
}

.name-input {
  padding-right: 20px;
  padding-bottom: 31px;
}
.e-mail-input {
  padding-left: 20px;
}

.textmessage-input {
  grid-column: 1 / 3;
  margin-bottom: 47px;
}

.label-item {
  padding-bottom: 10px;
}

.feedback-form-item {
  font-family: var(--open-sans-font);
  font-size: 14px;
  line-height: 19px;
  background-color: var(--popup-form-field);
  border: 0;
  resize: none;
  outline: none;
  padding: 16px 20px;
}

.feedback-form-item::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

.feedback-form-item:focus {
  background-color: var(--basic-white);
  color: var(--basic-black);
  border: 2px solid var(--special-yellow);
}

/*
.feedback-form-item:valid {
  background-color: var(--popup-form-field);
}

.feedback-form-item:invalid {
  background-color: var(--popup-form-field-error);
  outline: none;
}
*/

.modal-button {
  width: 200px;
}

.modal-show {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -275px;
  margin-left: -480px;
  z-index: 2;
}

/*КАТАЛОГ*/
/*КАТАЛОГ - хлебные крошки*/
.bredcumbs-wrapper {
  padding-top: 42px;
  padding-left: 80px;
  margin-bottom: 47px;
}

.breadcrumbs-nav {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  font-size: 14px;
  line-height: 24px;
  padding-top: 28px;
}

.breadcrumb-item:not(:last-child) {
  margin-right: 14px;
}

.breadcrumb-item:not(:first-child)::before {
  content: url("../img/breadcrumbs-icon-arrow.svg");
  width: 24px;
  height: 10px;
  padding-right: 14px;
}

.breadcrumbs-nav a {
  color: var(--transparent-black-03);
}

.breadcrumbs-nav a:hover {
  color: var(--transparent-black-06);
}

.breadcrumbs-nav a:active {
  color: var(--transparent-black-01);
}

/*КАТАЛОГ - основная секция - общее*/
.catalog-grid-container {
  display: grid;
  grid-template-columns: 1fr 1160px 1fr;
  background-color: var(--basic-grey-light);
}

.grid-layout-left,
.grid-layout-main,
.grid-layout-right {
  display: grid;
  grid-template-rows: 70px auto;
}

.grid-layout-main {
  grid-template-columns: 328px 1fr;
}

.grid-layout-left-top,
.grid-layout-main-filter-top {
  background-color: var(--basic-grey-extra);
}

.grid-layout-main-goods-main,
.grid-layout-right-bottom {
  background-color: var(--basic-white);
}

/*КАТАЛОГ - основная секция - фильтр*/
.grid-layout-main-filter-top {
  padding: 25px 0 0 60px;
}

.filter-header,
.sorting-header {
  font-family: var(--gilroy-font);
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  display: block;
  padding-right: 74px;
}

.filter-main {
  padding: 70px 68px 0 60px;
}

.filter-item {
  border-top: 2px solid var(--basic-black);
}

.filter-item fieldset {
  margin: 0;
  padding: 0 0 38px 0;
  border: none;
}

.filter-item-header {
  display: block;
  padding-top: 16px;
  padding-bottom: 30px;
  font-family: var(--gilroy-font);
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
}

/*КАТАЛОГ - основная секция - фильтр по стоимости*/
.filter-range {
  height: 2px;
  background-color: var(--transparent-black-02);
  margin-top: 7px;
  margin-bottom: 17px;
}

.filter-range-selected {
  height: 100%;
  width: 133px;
  background-color: var(--special-green);
  position: relative;
}

.filter-range-control {
  width: 20px;
  height: 20px;
  background-color: var(--basic-grey-extra-2);
  border: 8px solid var(--basic-white);
  border-radius: 50%;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.18);
  position: absolute;
  top: -9px;
}

.control-max {
  right: 0;
}

.filter-price-min-max input {
  width: 45px;
  margin-right: 29px;
  font: inherit;
  border: 0;
  background-color: transparent;
}

.filter-price-min-max {
  font-family: var(--gilroy-font);
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
}

.catalog-filter-button {
  width: 100%;
  margin-top: 5px;
}

/*КАТАЛОГ - основная секция - фильтр по цвету*/
.filter-color-list li:not(:last-child) {
  padding-bottom: 20px;
}

/*КАТАЛОГ - основная секция - фильтр по наличию BT*/
.bluetooth-filter-choice li:first-child {
  padding-bottom: 20px;
}

/*КАТАЛОГ - сортировка товаров*/
.sorting {
  padding: 25px 0 25px 72px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.sorting ul {
  display: flex;
  flex-wrap: wrap;
}

.sorting-criteria-item:not(:last-child) {
  margin-right: 30px;
}

.sorting-direction-list {
  margin-left: auto;
}

.sorting-up {
  margin-right: 16px;
}

.sorting a {
  opacity: 0.3;
}

.sorting a:hover {
  opacity: 0.6;
}

.sorting a:active {
  opacity: 1;
}

.sorting .active {
  opacity: 1;
}

/*КАТАЛОГ - товары*/
.product-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding-top: 70px;
  padding-left: 72px;
}

.product-item {
  position: relative;
  width: 360px;
  margin-right: 40px;
  margin-bottom: 49px;
}

.product-item:nth-child(3),
.product-item:last-child {
  margin-bottom: 0px;
}

.product-item:nth-child(2n) {
  margin-right: 0;
}

.product-item-card {
  position: relative;
}

.product-buttons {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 29px;
  padding-right: 5px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.product-item .button {
  width: 200px;
  margin-bottom: 11px;
}

.button-comparison {
  background-color: transparent;
  font-weight: 300;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.1em;
  opacity: 0.5;
  cursor: pointer;
}

.button-comparison:hover {
  opacity: 1;
}

.button-comparison:active {
  opacity: 0.2;
}

.product-item-card:hover .product-item-image {
  opacity: 0.7;
}

.product-item-card:hover .product-buttons {
  display: flex;
}

.product-item-new-icon {
  position: absolute;
  top: 29px;
  right: 27px;
}

.product-item-info {
  display: flex;
  justify-content: space-between;
  padding-top: 26px;
}

.product-item h3 {
  font-family: var(--gilroy-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  width: 270px;
}

.product-item:nth-child(2n) h3 {
  width: 250px;
}

.product-item-price {
  font-family: var(--gilroy-font);
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.05em;
  padding-top: 3px;
  padding-right: 2px;
}

/*КАТАЛОГ - товары - навигация*/
.items-nav {
  background-color: var(--basic-grey-product-navbar);
  font-family: var(--gilroy-font);
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 760px;
  margin-top: 40px;
  margin-bottom: 77px;
  margin-left: 71px;
}

.items-navnumber {
  display: flex;
  justify-content: center;
  align-items: center;
}

.items-navnumber li {
  opacity: 0.3;
  margin-right: 30px;
}

.items-navnumber li:last-child {
  margin-right: 0;
}

.items-navbutton a {
  display: block;
  width: 120px;
  padding: 25px 30px;
}

.items-navbutton .items-navbutton-forward {
  padding-left: 25px;
  padding-right: 35px;
}

.items-navbutton:hover {
  background-color: var(--basic-grey-product-navbutton);
}

.items-navnumber .active {
  opacity: 1;
}

.items-navbutton:active a {
  opacity: 0.3;
}
