/*fonts*/
@font-face {
  font-family: "Gilroy";
  src: local("Gilroy"), local("Gilroy-Bold"),
    url("../fonts/gilroyextrabold.woff2") format("woff2"),
    url("../fonts/gilroyextrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy"), local("Gilroy-UltraLight"),
    url("../fonts/gilroylight.woff2") format("woff2"),
    url("../fonts/gilroylight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"),
    url("../fonts/opensans.woff2") format("woff2"),
    url("../fonts/opensans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"), local("Open Sans Light"),
    url("../fonts/opensanslight.woff2") format("woff2"),
    url("../fonts/opensanslight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

/* variables*/
:root {
  --basic-white: #fff;
  --transparent-white-03: rgba(255, 255, 255, 0.3);
  --transparent-white-07: rgba(255, 255, 255, 0.7);
  --basic-black: #000;
  --transparent-black-01: rgba(0, 0, 0, 0.1);
  --transparent-black-03: rgba(0, 0, 0, 0.3);
  --transparent-black-06: rgba(0, 0, 0, 0.6);
  --basic-dark: #363636;
  --basic-grey: #464646;
  --basic-half-gray: #7E7E7E;
  --basic-grey-light: #E5E5E5;
  --special-yellow: #f7e296;
  --special-yellow-dark: #F0C52E;
  --special-green: #91C92F;
  --popup-form-field: #F2F2F2;
  --popup-form-field-error: #F6DADA;

  --open-sans-font: "Open Sans", Arial, sans-serif;
  --gilroy-font: "Gilroy", Helvetica, sans-serif;
}



/*general*/
.page-body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  font-family: var(--open-sans-font);
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  font-style: normal;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
  color: var(--basic-black);
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.text-header {
  font-family: var(--gilroy-font);
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
}

/*buttons*/
.button {
  color: var(--basic-black);
  font-family: var(--gilroy-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  height: 40px;
  text-align: center;
  background: url("../img/button-rectangle.svg") 50% 50% repeat-x;

  /* identical to box height */
  letter-spacing: 0.2em;
}

.button:hover {
  background-color: var(--special-yellow-dark);
}

/*header*/
.main-header {
  /*height: 206px;*/
  color: var(--basic-black);
}

.main-header-logo {}

/*header client section*/
.main-header a:hover {
  opacity: 0.6;
}

.main-header a:active {
  opacity: 0.3;
}

.main-navigation {
  /*height: 186px;*/
  background-color: var(--special-yellow);
}

.logout-link {
  opacity: 0.3;
}

/*searchbar*/
.searchbar-form-field {
  background-color: transparent;
  border: none;
  outline: none;
}

.searchbar-form-field::placeholder {
  opacity: 0.3;
}

.searchbar-form-field:hover::placeholder {
  opacity: 0.6;
}

.searchbar-form-field:focus::placeholder {
  color: transparent;
}

.searchbar-form-field:focus {
  border-bottom: 2px solid var(--basic-black);
}

.searchbar-button {
  font-weight: inherit;
  line-height: inherit;
  text-transform: uppercase;
  border: 2px solid var(--basic-black);
  box-sizing: border-box;
  background-color: transparent;
}

.searchbar-button:hover {
  color: var(--basic-white);
  background-color: var(--basic-black);
}

.searchbar-button:active {
  color: var(--transparent-white-03);
  background-color: var(--basic-black);
}

/*header product section*/
.header-bottom-menu-list {
  font-family: var(--gilroy-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  list-style-type: none;
}

.header-subcatalog {
  background-color: var(--special-yellow);
  height: 146px;
}

.header-subcatalog-list {
  list-style-type: none;
}

/*slider*/
.slider {
  width: 1024px;
  /*height: 526px;*/
}

.slider-button {
  width: 220px;
}

.slider-button:active {
  color: var(--transparent-black-03)
}

.gadget-info {
  font-family: var(--gilroy-font);
  font-weight: 300;
  text-align: left;
}

.gadget-info td {
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.1em;
}

.gadget-info th {
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  font-weight: inherit;
}

/*gadget menu*/
.gadget-menu {
  list-style-type: none;
}

.gadget-menu-label {
  font-family: var(--gilroy-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;

}

.gadget-menu-icon {
  width: 160px;
  height: 160px;
  background-color: var(--special-yellow);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.v-reality-icon {
  background-image: url("../img/popular-vr.svg");
}

.monopod-icon {
  background-image: url("../img/popular-monopods.svg");
}

.action-cam-icon {
  background-image: url("../img/popular-action-cam.svg");
}

.fitness-tracker-icon {
  background-image: url("../img/popular-fitness-tracker.svg");
}

.smart-watch-icon {
  background-image: url("../img/popular-smart-watch.svg");
}

.copter-icon {
  background-image: url("../img/popular-copter.svg");
}

.gadget-menu:hover .gadget-menu-icon {
  background-color: var(--special-yellow-dark);
}

.gadget-menu:active .gadget-menu-label {
  opacity: 0.3;
}

/*about us*/
.about-us {
  line-height: 28px;
}

.delivery-options {
  font-family: var(--gilroy-font);
  font-weight: 800;
  font-size: 16px;
  list-style-image: url("../img/bulletpoint.svg");
}

/*delivery guaranties credit*/
.delivery-guaranties-credit {
  background-image: url("../img/delivery-gray-rectangle.svg");
}

.delivery-guaranties-credit-buttons li {
  list-style-type: none;
}

.button-black:active {
  background-image: none;
  background-color: var(--basic-black);
  color: var(--special-yellow-dark);
}

.delivery-guaranties-credit-info {
  list-style-type: none;
  line-height: 30px;
}

.delivery-info {
  background-image: url("../img/delivery-guy-icon.svg");
  background-repeat: no-repeat;
}

.guarantee-info {
  background-image: url("../img/guarantee-icon.svg");
  background-repeat: no-repeat;
}

.credit-info {
  background-image: url("../img/credit-guy-icon.svg");
  background-repeat: no-repeat;
}

/*brand logos*/
.brand-logo {
  list-style-type: none;
}

.brand-logo a {
  filter: grayscale(100%);
  opacity: 0.2;
}

.brand-logo a:hover {
  filter: none;
  opacity: 1;
}

/*footer*/
.main-footer {
  background-color: var(--basic-dark);
  color: var(--basic-white);
}

.main-footer-logo {}

.main-footer-logo:hover {
  opacity: 0.6;
}

.main-footer-logo:active {
  opacity: 0.3;
}

.footer-copyright-logo {}

.footer-copyright-logo:hover {
  opacity: 0.6;
}

.footer-copyright-logo:active {
  opacity: 0.3;
}

.top-footer a {
  color: var(--transparent-white-07);
}

.top-footer a:hover {
  color: var(--basic-white);
}

.top-footer a:active {
  color: var(--transparent-white-03)
}

.footer-contacts address {
  font-family: var(--open-sans-font);
  font-style: normal;
}

.bottom-footer-list li {
  list-style-type: none;
  font-family: var(--gilroy-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;

  /* identical to box height */
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.bottom-footer-list a {
  color: var(--basic-white);
}

.bottom-footer-list a:hover {
  color: var(--transparent-white-07);
}

.bottom-footer-list a:active {
  color: var(--transparent-white-03);
}

.footer-contacts-phone a {
  color: var(--basic-white);
  list-style-type: none;
}

.footer-socials li {
  list-style-type: none;
}

.footer-socials-button:hover path {
  fill-opacity: 0.6;
}

.footer-socials-button:active path {
  fill-opacity: 0.1;
}

/*pop-ups*/
.modal {
  text-align: center;
}

.client-feedback {
  font-family: var(--gilroy-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
}

.feedback-form-item {
  font-family: var(--open-sans-font);
  font-size: 14px;
  line-height: 19px;
  background-color: var(--popup-form-field);
  border: 0;
  outline: none;
}

.feedback-form-item::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

.feedback-form-item:focus {
  background-color: var(--basic-white);
  color: var(--basic-black);
  border: 2px solid var(--special-yellow);
}

/*
.feedback-form-item:valid {
  background-color: var(--popup-form-field);
}

.feedback-form-item:invalid {
  background-color: var(--popup-form-field-error);
  outline: none;
}
*/
.modal-button {
  border: none;
}

.modal-button:active {
  color: var(--transparent-black-03);
}

.modal-close-button {
  border: 0;
  background: transparent;
}

.modal-close-button:hover circle {
  opacity: 1;
}

.modal-close-button:active circle {
  opacity: 0.3;
}

/*CATALOG*/

/*breadcrumbs navigation*/
.breadcrumbs-nav {
  list-style-image: url("../img/breadcrumbs-icon-arrow.svg");
}

.first-breadcrumb {
  list-style: none;
}

.breadcrumbs-nav a {
  color: var(--transparent-black-03);
}

.breadcrumbs-nav a:hover {
  color: var(--transparent-black-06);
}

.breadcrumbs-nav a:active {
  color: var(--transparent-black-01);
}
