

/*fonts*/
@font-face {
  font-family: "Gilroy";
  src: 
    url("../fonts/gilroyextrabold.woff2") format("woff2"),
    url("../fonts/gilroyextrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: 
    url("../fonts/gilroylight.woff2") format("woff2"),
    url("../fonts/gilroylight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src:
    url("../fonts/opensans.woff2") format("woff2"),
    url("../fonts/opensans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src:
    url("../fonts/opensanslight.woff2") format("woff2"),
    url("../fonts/opensanslight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

/* variables*/
:root {
  --basic-white: #fff;
  --transparent-white-03: rgba(255, 255, 255, 0.3);
  --transparent-white-07: rgba(255, 255, 255, 0.7);
  --basic-black: #000;
  --transparent-black-03: rgba(0, 0, 0, 0.3);
  --transparent-black-06: rgba(0, 0, 0, 0.6);
  --basic-dark: #363636;
  --basic-grey: #464646;
  --basic-half-gray: #7E7E7E;
  --basic-grey-light: #E5E5E5;
  --special-yellow: #f7e296;
  --special-yellow-dark: #F0C52E;
  --special-green: #91C92F;
}

/*TEST BORDER*/
* {
  border: 1px solid red;
}

/*general*/
.page-body {
  margin: 0;
  padding: 0;
  max-width: 1440px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 15px;
  font-style: normal;
  color: var(--basic-black);
  background-color: var(--basic-white);  
}

a {
  text-decoration: none;
  color: var(--basic-black);
}

img {
  max-width: 100%;
  height: auto;
}

/*header*/
.main-header {
  width: 1160px;
  height: 206px;
  margin: 20px 140px 0px 140px;
  color: var(--basic-black);
  line-height: 20px;
}

.main-header a {
  color: var(--basic-black);
}

.main-header a:hover {
  opacity: 0.6;
}

.main-navigation {
  height: 186px;
  background-color: var(--special-yellow);
  margin-top: 20px;
}

.main-header-logo {
  position: relative;
  top: -20px;
}

.header-bottom-menu-list {
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  list-style-type: none;
}

.header-subcatalog {
  background-color: var(--special-yellow);
  height: 146px;
}

.header-subcatalog-list {
  list-style-type: none;
}

/*content*/
.text-header {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
}

.button {
  color: var(--basic-black);
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  height: 40px;
  text-align: center;
  
  background: url("../img/button-rectangle.svg") 50% 50% repeat-x;

  /* identical to box height */
  letter-spacing: 0.2em;
}

.button:hover {
  background-color: var(--special-yellow-dark);
}

/*slider*/

.slider-button {
  width: 220px;
}

.slider-button:active {
  color: var(--transparent-black-03)
}

.gadget-info {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  text-align: left;
}

.gadget-info td {
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.1em;
}

.gadget-info th {
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  font-weight: inherit;
}

/*gadget menu*/
.gadget-menu {
  list-style-type: none;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  background-color: var(--special-yellow);
}

.gadget-menu:hover {
  background-color: var(--special-yellow-dark);
  color: var(--transparent-black-06);
}

/*delivery guaranties credit*/
.delivery-guaranties-credit {
  background-image: url("../img/delivery-gray-rectangle.svg");
}

.delivery-guaranties-credit-buttons li {
  list-style-type: none;
}

.button-black:active {
  background-image: none;
  background-color: var(--basic-black);
  color: var(--special-yellow-dark);
}

.delivery-guaranties-credit-info {
  list-style-type: none;
}

.delivery-info {
  background-image: url("../img/delivery-guy-icon.svg");
  background-repeat: no-repeat;
}

.guarantee-info {
  background-image: url("../img/guarantee-icon.svg");
  background-repeat: no-repeat;
}

.credit-info {
  background-image: url("../img/credit-guy-icon.svg");
  background-repeat: no-repeat;
}

/*footer*/
.main-footer {
  background-color: var(--basic-dark);
  color: var(--basic-white);
  
}

.main-footer-logo {

}

.main-footer-logo:hover {
  opacity: 0.6;
}

.main-footer-logo:active {
  opacity: 0.3;
}

.footer-copyright-logo{
  
}

.footer-copyright-logo:hover  {
  opacity: 0.6;
}

.footer-copyright-logo:active {
  opacity: 0.3;
}

.top-footer a {
  color: var(--transparent-white-07);
}

.top-footer a:hover {
  color: var(--basic-white);
}

.top-footer a:active {
  color: var(--transparent-white-03)
}

.footer-contacts address{
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
}

.bottom-footer-list li{
  list-style-type: none;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  
/* identical to box height */
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.bottom-footer-list a {
  color: var(--basic-white);
}

.bottom-footer-list a:hover {
  color: var(--transparent-white-07);
}

.bottom-footer-list a:active {
  color: var(--transparent-white-03);
}

.footer-contacts-phone a {
  color: var(--basic-white);
  list-style-type: none;
}

.footer-socials-button:hover path {
  fill-opacity: 0.6;
}

.footer-socials-button:active path {
  fill-opacity: 0.1;
}